
:root {
    --primary: #062033;
    --secondary: #7d88ca;
    --bg: #f5f7ff;
    --dark: #1f1f1f;
}
body {
    font-family: Arial, sans-serif;
    font-size: larger;
    background-color: var(--bg);
    color: var(--dark);
    margin: 0;
    padding: 0;
}

header {
    background: var(--primary);
    color: white;
    padding: 8px;
    text-align: left;
    padding-top: 1px;
}

nav {
    background: #234C6A;
    padding: 10px;
    text-align: right;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: var(--secondary);
}

#about {
    padding: 40px;
    display: flex;
    gap: 30px;
    align-items: left;
    justify-content: left;
    background-color: #dbeaf6;
}
#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid var(--primary);
}
.gif{
    border-radius: 0;
    float: right;
    align-items: right;
    margin-left: 20%;

}
.social-links {
    text-align: center;
    margin-top: 20px;
    margin-left: 9%;

}

.btn-link {
    background: var(--primary);
    color: white;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-link:hover {
    background: var(--secondary);
}

#about .text {
    max-width: 500px;
}

#skills {
    padding: 30px;
    background: #7faccc;
    text-align: center;
}
.skill-box {
    background: var(--primary);
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
}

#projects {
    padding: 30px;
    height: 600px;
}
.project-card {
    float:left;
    background: #9bc0da;
    padding: 20px;
    border-radius: 8px;
    margin: 15px auto;
    width: 69%;
    border-left: 6px solid var(--primary);
}
 
#contact {
    padding: 60px;
    background: var(--secondary);
    background-color: hsl(205, 25%, 52%);
}
#contact input, #contact textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
}
.gemini img{
     width: 300px;
    height: 300px;
    border-radius: 0%;
    padding: 20px 20px 20px 20px;
    float: right;
}
#contact button {
    background: var(--dark);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: left bottom;
}
#contact button:hover {
    background: var(--primary);
} 
footer {
    background: var(--dark);
    color: white;
    padding: 15px;
    text-align: center;
}